{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{dialyzer_opts, [{warnings, [unmatched_returns]}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{clean_files, [".eunit", "ebin/*.beam"]}.

{lib_dirs, ["deps"]}.
{deps_dir, ["deps"]}.
{sub_dirs, ["rel"]}.

% Deps
{deps, [
    {cowboy,     ".*", {git,"git://github.com/essen/cowboy.git",                {tag, "ba5da43bbf"}}},
    {logmachine, ".*", {git,"git://github.com/vjache/erlang-logmachine.git",    {tag, "0.0.7"}}},
    {zlists,     ".*", {git,"git://github.com/vjache/erlang-zlists.git",        {tag, "0.0.1"}}}.
